#.gitignore for python
*.pyc
*~
_build
dist
build
*.egg-info
*.egg
*.pyo
test-reports
*.swp
*.log
*.out
*.pid
*.db
*.sqlite3
*.jpg
*.jpeg
*.png

.gitignore for node.js
node_modules
npm-debug.log

.gitignore for java
bin/
*.class
*.jar

.gitignore for c/c++
*.o
*.so
*.dll
*.exe
*.obj

.gitignore for go
*.exe

.gitignore for ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

.gitignore for php
composer.phar
vendor/
composer.lock
vendor/

.gitignore for perl
META.yml
META.json
MYMETA.*
blib/
inc/
Build
Build.bat
_build/
Build
cover_db/
cover_db/
MYMETA.*
pm_to_blib
*.o
*.bs
*.sw[po]
*.tmp
*.tmp.*
*.gcda
*.gcno
*.gcov
*.bak
*.old
*~
*.#*
.#*
*#

.gitignore for latex
*.aux
*.bbl
*.blg
*.log
*.out
*.gz
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.pdfsync
*.synctex.gz
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.out
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.bcf
*.run.xml
*.toc
*.